* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: black;
  overflow: hidden;
  user-select: none;
}

.game-container {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-columns: 160px 1fr 350px;
    grid-template-rows: 230px 1fr;
    grid-template-areas: 
    "nav logo lead"
    "nav play lead";

    background-image: url('../meta/menu-background.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/*----- Header -----*/
.header{
    grid-area: logo;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    height:fit-content;
}

.logo{
    height: 230px;
}

/*----- Sidebar -----*/
.sidebar {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    gap: 20px;
    border-right: 2px solid rgba(255,255,255,0.1);
}
.icon{
    font-size: 1.7rem;
}

/*----- CenterContent -----*/
.center-content {
    grid-area: play;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    gap: 20px;
}


/*----- Leaderboard -----*/
.right-panel{
    grid-area: lead;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    background-color: rgba(0,0,0,0.5);
    border-left: 2px solid rgba(255,255,255,0.1);
}
.leaderboard{
    scale: 1.1;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: 
    "tittle"
    "list";

    width: 280px;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    gap: 3px;
    padding: 10px;
}
.tittle{
    font-family: Arial Black;
    font-size: 1.5rem;
    grid-area: tittle;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}
.list{
    font-size: 1.2rem;
    padding-top: 15px;
    gap: 10px;
    display: flex;
    grid-area: list;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}
.first-place{
    display: flex;
    border: 5px solid #FFD700;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    gap: 20px;
}
.second-place{
    display: flex;
    border: 3px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    gap: 20px;
}
.third-place{
    display: flex;
    border: 3px solid #CE8946;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    gap: 20px;
}
.nonspecial{
    display: flex;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    gap: 20px;
}


/*----- Buttons -----*/
.play-button {
    scale: 1.5;
    border: none;
    background-color: transparent;
    font-family: Impact;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
    -webkit-text-stroke: 1px black;
    font-size: 3rem;
    animation: pulse 1.5s infinite;
    cursor: pointer;
    color: #7bbf69;
}
.play-button:hover{
    animation: pulse 0.3s infinite;
    scale: 1.7;
    color: #7bbf69;
}
@keyframes pulse {
  0% { transform: scale(1); opacity: 0.9; }
  50% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); opacity: 0.9; }
}

.side-button{
    padding: 5px;
    background-color: transparent;
    color: #7bbf69;
    scale: 1.5;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    font-family: Impact;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
    -webkit-text-stroke: 1px black;
    font-size: 1.8rem;
    cursor: pointer;
}
.side-button:hover{
    background-color: #7bbf69;
    scale: 1.7;
}